@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Who am i ? I thought you would never ask!</p>
<p>I am yet another occupant of mother earth pursuing an adventerous life with technology.</p>
<div class="jumbotron">
    <p>Who writes like that ? Seriously!</p>
    <p class="glyphicon-subscript">Jumbotron for special effect!!</p>
    <p class="glyphicon-subscript col-sm-offset-1"> Nice :)</p>
</div>
<div class="col-md-4">
    <img src="~/Images/KeshavPandey.jpg" class="img-circle" alt="Keshav Pandey" style="width:250px;height:250px;"/>
</div>
<div class="col-md-8">
    <p>Well i am an Indian. A Tech Enthusiast. A Gamer. An Admirer.</p>
    <p>I am from India, I love gaming and it along with some magical inspiration from my father i fell in love with tech, and in pursuit with tech i found another love.</p>
    <p>Many people learn their first program via the standard practise of outputting hello world out of their constructs. I was introduced in another way.</p>
    <p>Hey Keshav!! Why don't you make a calculator. Oh boy, could i do that on my own ? My curious little self. On what ? How ? What all would it do ? Those answers were not something i was thinking about. All i could think was that a peice of hardware could bend to my will and perform tasks that i would tell it to do. PS: See programming was not a concept known to me then. Then When ? I guess 5th Std, the year 2005.</p>
    <p>Oh boy did no one know about google here. Wait till i found out about google while my friend kept duping me of it's existance all the while.</p>
    <br />
    <p>To be continued ! I guess this story should go to some other section.</p>
</div>