@{
    ViewData["Title"] = "Blog";
}
<h1>Blog. Blog. Blog!</h1>
<h3>The veracious world of my blog which has paucity of other's opinion. The world as seen,experienced,lived and imagined by me!</h3>
<ul class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <img src="~/Images/caculator.png" style="width:60px;height:60px;" />
            Hello World! More like 1+1 = 2
        </h4>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <img src="~/Images/hostage-rescue.jpg" style="width:60px;height:60px;" />
            Escort the packets to the hostage resuce point!! A tryst with AWS networks.
        </h4>
</li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">
            <img src="~/Images/angry-bird-blue.png" style="width:60px;height:60px;" />
            One Shot 3 Birds - The Blue bird from Angry Birds! Appium based app testing
        </h4>
</li>
</ul>