@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bangalore<br />
    Karnataka, India<br />
</address>

<address>
    <strong>Personal Email:</strong> <a href="mailto:Keshav25@outlook.com">Keshav25@outlook.com</a><br />
</address>
