@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h4>@ViewData["Message"]</h4>

<address>
    <strong>Personal Email:</strong> <a href="mailto:Keshav25@outlook.com">Keshav25@outlook.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/Keshav2509">Keshav2509</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/keshav.pandey.90">Keshav-Pandey</a><br />
</address>
<h3>You can find me here:</h3>
<address>
    <p style="font-size:18px;">Bangalore<br />
    Karnataka, India<br /></p>
</address>
