@{
    ViewData["Title"] = "Home Page";
}
<center>
    <h1 style="color: #0072c6;">Hello World!</h1>
    <img src="~/Images/ididit.jpg" class="img-responsive" />
    <h3 style="color: #0072c6;">I finally did it!</h3>
    <p>Made a website of course! What were you thinking ? :p</p>
</center>
<p>This is my first take on a personal website. Not sure why it took me this long. But here i am!</p>
<p>Using this website i aim to finally learn MVC concepts on the ASP.NET stack instead of just relying on the classic forms</p>
<p><strike>This also happens to be my first take on .NET Core library. Am excited to see how it works out on my MAC as well as Windows PC</strike></p>
<p>Well Azure stopped supporting the older project type for .Net Core library hence have shifted back to .Net Framework. Will try to pivot back once i have VS 2017 setup</p>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="http://keshavpandey.azurewebsites.net/"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_whatsapp"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//http-keshavpandey-azurewebsites-net.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
