@{
    ViewData["Title"] = "Keshav's Twitter";
}
<a class="twitter-timeline" href="https://twitter.com/Keshav2509">Tweets by Keshav2509</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
